@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  --bg-light-grey: rgb(245, 245, 245);
  --bg-light-blue: rgb(233, 249, 255);
  --bg-light-green: rgb(217, 255, 209);
  --bg-light-yellow: rgb(255, 251, 233);
  --bg-grey: rgb(201, 201, 201);
  --bg-green: rgb(43, 255, 0);
  --bg-yellow: rgb(255, 208, 0);
  --bg-blue: rgb(0, 187, 255);
  --bg-dark-green: rgb(12, 75, 0);
  --bg-dark-yellow: rgb(92, 75, 0);
}

* {
  font-family: "Geist";
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  padding-top: 55px;
}

.inner-container {
  height: 100%;
}

input:focus {
  outline: none;
}

.section {
  margin: 1rem 0;
}

.form-card {
  border: 1px solid gray;
  width: 300px;
}

.form-flex {
  display: flex;
  flex-direction: column;
}

.form-card-heading {
  text-align: center;
}

.form-card-body {
  padding: 0rem 1rem;
}

.err-msg {
  color: red;
}

.list-card {
  max-height: 480px !important;
  border-radius: 0 !important;
}

.grow-list-card {
  max-height: 480px !important;
  border-radius: 0 !important;
}

.lead-card {
  background-color: var(--bg-light-grey) !important;
}

.record-card {
  background-color: var(--bg-light-grey) !important;
}

.comment-card {
  background-color: var(--bg-light-blue) !important;
  border: solid 1px var(--bg-blue) !important;
}

.badge-card {
  background-color: var(--bg-light-green) !important;
  border: solid 1px var(--bg-dark-green) !important;
  color: var(--bg-dark-green) !important;
}

.justify-self-start {
  justify-self: flex-start !important;
}

.side-bar-nav {
}

.side-bar-nav:hover {
  background-color: #2e343a;
}

.sidebar-link:hover {
  background-color: var(--bg-light-blue);
}

.fs-small {
  font-size: 12px;
}

.corner-sharp {
  border-radius: 0 !important;
}

/* Reports */
.custom-container {
  height: 100% !important;
}

.chart {
  width: 280px;
}

.bar-chart {
  width: 280px;
}

/* navbar */
.nav-bg {
  background-color: #36a2eb;
}

@media (width>425px) {
  .form-card {
    border: 1px solid gray;
    min-width: 400px;
  }
  .bar-chart {
    width: 520px;
  }
}
